/* General Styles */
@font-face{
    font-family: myf;
    src: url(Slagless-2OX63.ttf);

}
@font-face {
    font-family: myfo;
    src: url(befrungpersonaluse-regular.otf);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #FDFC47;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    color: rgb(139, 46, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: myf;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(40, 40, 40);
    font-family: myfo;
    min-height: 30px;
}
